@model Frisk_2._0.Models.SignUp
<div class="modal fade" id="detailUser-@Model.Id" aria-labelledby="detailUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="editUserLabel">Detaljer</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Details" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Id" class="control-label">ID:</label>
                        @Html.DisplayFor(model => model.Id)
                    </div>
                    <div class="form-group">
                        <label asp-for="UserType" class="control-label">Användartyp:</label>
                        @Html.DisplayFor(model => model.UserType)
                    </div>
                
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">Förnamn:</label>
                        @Html.DisplayFor(model => model.FirstName)
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Efternamn:</label>
                        @Html.DisplayFor(model => model.LastName)
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email:</label>
                        @Html.DisplayFor(model => model.Email)
                    </div>
                    <div class="modal-footer">
                        <button id="btn-save" type="submit" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
