@model IEnumerable<Frisk_2._0.Models.SignUp>

@{
    ViewData["Title"] = "Index";
    
}
<link rel="stylesheet" href="./css/Admin.css" />
<div class="tableContainer">
<table id="table">
    <thead id="table-head">
        <tr>
            <th>ID</th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th>
                <button id="btn-create" type="button" class="btn btn-info" data-toggle="modal" data-target="#createUser"><i class="fa fa-plus"> &nbsp;Skapa ny</i></button>
            </th>
        </tr>
    </thead>
    <tbody id="table-body">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                    <button id="btn-details" title="Detaljer" onclick="window.location='@Url.Action("Details", "Admin", new { id= item.Id })'"><i class="fa fa-info"></i></button>
                        <button id="btn-edit" title="Ändra" class="btn btn-info" data-toggle="modal" data-target="@("#editUser-" + item.Id)" data-url="@Url.Action($"Edit/{item.Id}")"><i class="fa fa-edit"></i></button>
                        @await Html.PartialAsync("_PartialEditView", item)
                        <button id="btn-delete" title="Radera" class="btn btn-info" data-toggle="modal" data-target="@("#deleteUser-" + item.Id)" data-url="@Url.Action($"Delete/{item.Id}")"><i class="fa fa-trash"></i></button>
                        @await Html.PartialAsync("_PartialDeleteView", item)
                    </td>
        </tr>
}
    </tbody>
</table>
</div>

@await Html.PartialAsync("_PartialCreateView", new SignUp())
